### Reading the raw files

In [1]:
import os
import pandas as pd
# Below we have to change the path
cwd = os.path.abspath('C:\\Users\\muska\\OneDrive\\Desktop\\Voosh_intern\\zomato_email\\attachments')
files = os.listdir(cwd)

In [2]:
files[1:5]

['17939e322757b1b3-settlements_week_17_19607759.csv.csv',
 '17939e953c3c8c8a-account_statement_week_17_19621413.csv.csv',
 '17939e953c3c8c8a-settlements_week_17_19621413.csv.csv',
 '17939ef1bdce33a8-account_statement_week_17_19634367.csv.csv']

## Transform the data according to our requirement

In [3]:
# Need to change the path
path='C:\\Users\\muska\\OneDrive\\Desktop\\Voosh_intern\\zomato_email\\attachments\\'
final=pd.DataFrame()
for i in range(len(files)):
    if files[i][17:24]=='account':
        dct=(pd.read_csv(path+files[i]))
        final=final.append([dct],ignore_index=True)

### Taking the files of specific month only

In [4]:
# change the type of order date column
final['Order Date'] = pd.to_datetime(final['Order Date'], errors='coerce')
# remove all the files other than specific month
final = final[final['Order Date'].dt.month == 7]

In [5]:
final=final.sort_values(by=['Res. ID'])

In [6]:
final.reset_index(inplace=True)
# df.drop(['C', 'D'], axis = 1)
final.drop(['index','S.no.','Res. name','Mode of payment','Order status','Settlement status','Settlement date','Bank UTR'], inplace=True, axis=1)
# final.drop('S.no.', inplace=True, axis=1)

In [7]:
final.head(2)

,Order ID,Order Date,Res. ID,Gross revenue (INR),Pro discount share (INR),Customer Compensation (INR),Customer discount amount (INR),Commissionable amount (INR),Commission %,Commission value (INR),...,Tax collected at source (INR),TDS amount (INR),Amount received in cash (INR),Credit note adjustment (INR),Promo recovery adjustment (INR),Ice cream deductions - Hyperpure (INR),Ice cream handling charge (INR),Support cost adjustment (INR),Total adjustment (INR),Net receivable (INR)
0,2280873211,2021-07-24 13:37:29,19495100,110.7,0,0.0,0,106.0,22,23.32,...,1.06,1.06,0,0,0,0,0,0,0,78.65
1,2915929659,2021-07-07 13:46:35,19495100,123.4,0,0.0,0,118.0,22,25.96,...,1.18,1.18,0,0,0,0,0,0,0,87.73

### renaming the columns

In [8]:
#column_mapping
final=final.rename(columns={
    "Order ID": "order_id",
    "Order Date": "order_date",
    "Res. ID": "store_id",
    "Gross revenue (INR)": "gross_revenue",
    "Pro discount share (INR)": "pro_discount_share",
    "Customer Compensation (INR)": "customer_compensation",
    "Customer discount amount (INR)": "customer_discount_amount",
    "Commissionable amount (INR)": "commissionable_amount",
    "Commission %": "commission_pct",
    "Commission value (INR)": "commission_value",
    "Convenience fee (INR)": "convenience_fee",
    "Piggybank (INR)": "piggy_bank",
    "Logistics charge (INR)": "logistic_charges",
    "Penalty Amount (INR)": "penalty_amount",
    "Credits Charge (INR)": "credit_charge",
    "Cancellation Refund (INR)": "cancellation_refund",
    "Taxes on Zomato fees (INR)": "taxes_on_zomato_fees",
    "Tax collected at source (INR)": "tcs",
    "TDS amount (INR)": "tds",
    "Amount received in cash (INR)": "received_cash",
    "Credit note adjustment (INR)": "credit_note_adjustment",
    "Promo recovery adjustment (INR)": "promo_recovery_adjustment",
    "Ice cream deductions - Hyperpure (INR)": "ice_cream_deduction",
    "Ice cream handling charge (INR)": "ice_cream_handling_charge",
    "Support cost adjustment (INR)": "support_cost_adjustment",
    "Total adjustment (INR)": "total_adjustment",
    "Net receivable (INR)": "net_receivable",
})

In [9]:
# convert datatype of columns of DataFrame to numeric
# using apply method
final[['gross_revenue','pro_discount_share','customer_compensation','customer_discount_amount','commissionable_amount','commission_pct','commission_value','convenience_fee','piggy_bank','logistic_charges','penalty_amount','credit_charge','cancellation_refund','taxes_on_zomato_fees','tcs','tds','received_cash','credit_note_adjustment','promo_recovery_adjustment','ice_cream_deduction','ice_cream_handling_charge','support_cost_adjustment','total_adjustment']] = final[['gross_revenue','pro_discount_share','customer_compensation','customer_discount_amount','commissionable_amount','commission_pct','commission_value','convenience_fee','piggy_bank','logistic_charges','penalty_amount','credit_charge','cancellation_refund','taxes_on_zomato_fees','tcs','tds','received_cash','credit_note_adjustment','promo_recovery_adjustment','ice_cream_deduction','ice_cream_handling_charge','support_cost_adjustment','total_adjustment']].apply(pd.to_numeric)

#### adding a new column name as voosh_id

In [10]:
final.insert(loc=3, column='voosh_id', value=['' for i in range(final.shape[0])])

In [11]:
final.head(2)

,order_id,order_date,store_id,voosh_id,gross_revenue,pro_discount_share,customer_compensation,customer_discount_amount,commissionable_amount,commission_pct,...,tcs,tds,received_cash,credit_note_adjustment,promo_recovery_adjustment,ice_cream_deduction,ice_cream_handling_charge,support_cost_adjustment,total_adjustment,net_receivable
0,2280873211,2021-07-24 13:37:29,19495100,,110.7,0,0.0,0,106.0,22,...,1.06,1.06,0,0,0,0,0,0,0,78.65
1,2915929659,2021-07-07 13:46:35,19495100,,123.4,0,0.0,0,118.0,22,...,1.18,1.18,0,0,0,0,0,0,0,87.73

#### Reading the file containing voosh id of the restro, use this file to add voosh id in previous dataframe

In [12]:
# Take the path of the file according to your system (REFER MASTER SHEEET FOR VOOSH ID )
import pandas as pd
master=pd.read_excel('C:\\Users\\muska\\OneDrive\\Desktop\\Voosh_intern\\Listing Master.xlsx',names=['Voosh_Id','Zomato_Id','Swiggy_Id'],usecols="B,D,E")
master.head()

   Voosh_Id   Zomato_Id  Swiggy_Id
0     50011  19495100.0   321282.0
1     50021  19517558.0   328292.0
2     50031  19518298.0   326337.0
3     50041  19542272.0   327955.0
4     50032  19541636.0   327346.0

In [13]:
master=master.sort_values(by=['Zomato_Id'])
# remove the rows in zomato id column containing 0 values.
# master=master.loc[(master[['Zomato_Id']] != 0).all(axis=1)]
# remove the nan values
# master=master.dropna()

### assigning the voosh id to their corresponding zomato id

In [14]:
for i in range(len(master)):
    for j in range(len(final)):
        if master['Zomato_Id'][i]==final['store_id'][j]:
            final['voosh_id'][j]=master['Voosh_Id'][i];

<ipython-input-14-87438707b6ec>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['voosh_id'][j]=master['Voosh_Id'][i];

In [15]:
final.head(2)

,order_id,order_date,store_id,voosh_id,gross_revenue,pro_discount_share,customer_compensation,customer_discount_amount,commissionable_amount,commission_pct,...,tcs,tds,received_cash,credit_note_adjustment,promo_recovery_adjustment,ice_cream_deduction,ice_cream_handling_charge,support_cost_adjustment,total_adjustment,net_receivable
0,2280873211,2021-07-24 13:37:29,19495100,50311,110.7,0,0.0,0,106.0,22,...,1.06,1.06,0,0,0,0,0,0,0,78.65
1,2915929659,2021-07-07 13:46:35,19495100,50311,123.4,0,0.0,0,118.0,22,...,1.18,1.18,0,0,0,0,0,0,0,87.73

### saving the data as csv file

In [16]:
# get a list of store_id
res_id=final['store_id'].unique().tolist()
for i in res_id:
# now we can perform a lookup on a 'view' of the dataframe
    newdf = final.loc[final['store_id']==int(i)]
    # Specify the path where you want to save the files
    newdf.to_csv("C:\\Users\\muska\\OneDrive\\Desktop\\Voosh_intern\\Transformed_zomato\\"+"invoice_{}.csv".format(i))

### making different folder for each restro

In [17]:
import os
# Use the save path as above 
path='C:\\Users\\muska\\OneDrive\\Desktop\\Voosh_intern\\Transformed_zomato'
os.chdir(path)
for i in range(len(res_id)):
    newfolder=str(int(res_id[i]))
    os.makedirs(newfolder)

In [18]:
import shutil
source = 'C:\\Users\\muska\\OneDrive\\Desktop\\Voosh_intern\\Transformed_zomato'
for i in range(len(res_id)):
    
    f1=str(int(res_id[i]))
    dest ='C:\\Users\\muska\\OneDrive\\Desktop\\Voosh_intern\\Transformed_zomato\\'

    files = os.listdir(source)

    for f in files:
        if (f.startswith("invoice_"+f1)):
            shutil.move(f, dest+f1)

In [19]:
# SAVING THE DATAFRAME AS CSV File
final.to_csv(r'C:\\Users\\muska\\OneDrive\\Desktop\\Voosh_intern\\transformed_data.csv')